.product-hover {
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.product-hover:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.product-action {
  display: none; /* Esconde los íconos por defecto */
}

.product-hover:hover .product-action {
  display: flex; /* Muestra los íconos al hacer hover */
  position: absolute; /* Posiciona los íconos sobre la imagen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 5px;
}
